@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-common {
    color: #46454c;
  }

  .banner-lyric-text {
    color: #335eea;
  }
  .mini-playlist-text {
    color: #fff;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
